# Python / PyCache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Outputs & Temp Files
outputs/*
!outputs/.gitkeep

# IDE / OS Files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
